@{
    var sharedCalendars = PageData[0];
}
<div id="sharedCalendars" class="nav-section rounded-top">
    <h3 class="rounded-top border-bottom">
        Shared Calendars
    </h3>
    <ul>
        @if (sharedCalendars == null) {
            <li class="center">No Shared Calendars</li>
        } else {
            @* Show all of the ones that the user owns first *@
            foreach (var calendar in sharedCalendars) {
                <li class="calendar-name rounded-top rounded-bottom" style="background-color: @(calendar.Color); border-color: @ColorHelper.GetBorderFromHtml(calendar.Color)">
                    <a href="@Href("~/Calendar/Info", calendar.CalendarId)" title="Calendar Info">@calendar.Name</a>
                </li>
            }
        }
    </ul>
</div>